* {
    box-sizing:border-box;
}

#jumbo {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 300%;
    transition: all .3s ease-in-out;
}
h1, p {
    font-family: 'VT323', monospace;
    font-size: 170%;
}

h5 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 200%;
}

.navbar {
    max-height: 100%;
    max-width: 100%;  
}


#navbarlink {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 150%;
}

.nav-link {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 150%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
    height: 100%;
    width: 100%;
}

.container .card {
    flex: 1 1 auto;
    margin: 10px 10px;
    transition: all .3s
}

.container #rproc {
    overflow-y: scroll;
    height: 20rem;
}


#sysgraph {
    max-height: inherit;
    max-width: inherit;
    overflow: scroll;
}

.jumbotron { 
    background: #060630;
    border-radius: 0 !important;
}

.jumbotron #astro {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height: 300px;
}

.jumbotron h1 {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.card:hover {
    border:solid grey;
}

.jumbotron #astro {
    transition: all .3s ease-in-out; 
}

.jumbotron #astro:hover {
    transform: scale(1.2);
    z-index: 1;
}

#jumbo:hover {
    transform: scale(1.1)
}

#pc {
    height: 200px;
    width: 200px;
    margin: 30px 30px;
}
